<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>登录成功</h1>
    <p>账户:$!{account.account}</p>
    <p>邮箱:$!{account.email}</p>
</body>
</html>